/* =============
    Hero
============= */

#hero{
    margin-top: 110px;


        #hero-card{
            color: var(--white);
            border-radius: 14px;
            padding: 22px;
        }
    
}