/* =============
    Hero
============= */

#hero{
    margin-top: 110px;
    display: flex;


        #hero-card{
            color: var(--white);
            border-radius: 14px;
            padding: 22px;
            width: 355px;
            height: 50px;
            margin-left: 100px;
            p{
                margin-top: 15px;
                font-size: rem-calc(18);
            }
            h1{
                font-size: rem-calc(55);
            }
        }
    
}