/* =============
    Hero
============= */

#hero{
    margin-top: 110px;
    display: grid;
    grid-template-columns: 35% auto;


        #hero-card{
            color: var(--white);
            margin-top: 45px;
            // border-radius: 14px;
            // padding: 22px;
            // width: 60%;
            // height: 50px;
            // margin-left: 100px;
            p{
                margin-top: 40px;
                font-size: rem-calc(18);
            }
            h1{
                font-size: rem-calc(55);
            }
        }
    
}