#plans{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "startup classic premium";
    margin-left: 10%;
    margin-right: 10%;

    #start{
        grid-area: startup;
    }

    #classic{
        grid-area: classic;
    }

    #premium{
        grid-area: premium;
    }

    section{
        margin-bottom: 15%;
        ul{
            li{
                text-align: left;
                list-style: none;
                margin-top: 20px;
                margin-left: 40px;
            }
        }
    
    
        #purple-heading{
            background-color: var(--purple);
            margin-left: -22px;
            color: var(--white);
            width: 244px;
            height: 100px;
            margin-top: -22px;

            h2{
                padding-top: 5%;
                font-size: rem-calc(25);
                font-weight: 100px;
            }

            h1{
                font-size: rem-calc(40);
                font-weight: 100px;
                
            }
        }
        background-color: var(--white);
        color: var(--black);
        padding-bottom: 15px;
        padding: 22px;
        height: 300px;
        width: 200px;

        h2{
            font-size: rem-calc(25);
            font-weight: 100px;
        }

        h1{
            font-size: rem-calc(40);
            font-weight: 100px;
        }
    }
}
