#plans{
    margin-top: 50px;
    section{
        #purple-heading{
            background-color: var(--purple);
            color: var(--white);
        }
        border-color: var(--purple);
        color: var(--black);
        padding-bottom: 15px;
        padding: 22px;
    }
}