/* =============
    Header
============= */

header{
    padding-top: 12px;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: "logo menuu"
    "dropdown dropdown"
    "login login";

    @include md{
        grid-template-columns: 50% auto 8%;
        grid-template-areas: "logo login menuu";
    }

    @include xl{
        grid-template-columns: 20% 55% 25%;
        grid-template-areas: "logo dropdown login";
    }
    
    #logo-container{
        grid-area: logo;
        display: flex;
        align-items: center;
    }

    #menu-container{
        padding: 25px;
        grid-area: menuu;
        justify-content: right;
        align-items: flex-end;

        @include xl{
            display: none;
        }
    }

    #login{
        display: none;
        grid-area: login;
        justify-content: flex-end;
        padding: 21px 24px;

        @include md{
            display: flex;
            justify-content: flex-end;
            padding: 24px 0 0;
            align-items: center;
            height: 100%;
            box-sizing: border-box;
        }

        @include xl{
            padding-right: 24px;
        }
    }

    #dropdown{
        grid-area: dropdown;
        //display: none;
        @media only screen and (min-width: 1024px){
            display: block;
          }
    }

    
}