/* =============
    Header
============= */

header{
    nav{
        ul{
            li{
                margin-bottom: 15px;
                a{
                    color: var(--white);
                }
            }
            #trial{
                a{
                    background-color: var(--light-blue);
                    color: var(--white);
                    padding: 15px 30px;
                    border-radius: 6px;
                }
            }
        }
    }
}