/* =============
    Header
============= */

header{
    padding-top: 12px;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: "logo login menuu"
    "dropdown dropdown dropdown";

    @include md{
        grid-template-columns: 50% auto 8%;
    }
    
    #logo-container{
        grid-area: logo;
        display: flex;
        align-items: center;
    }

    #menu-container{
        padding: 25px;
        grid-area: menuu;
        justify-content: right;
        align-items: flex-end;
    }

    #login{
        display: flex;
        grid-area: login;
        justify-content: flex-end;
    }

    #dropdown{
        grid-area: dropdown;
        //display: none;
    }
    
    
}